.contianer {
  margin-left: auto;
  margin-right: auto;
  width: 63%;
  // justify-content: center;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(245, 197, 24);
}

.row {
  display: flex;
  flex-direction: row;
}

