.card {
  margin-top: 10px;
}

.font {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}

.sub-font{
  text-align: center;
  color: white;
  font-size: 14px;
}